<style>
  .form-control{
        width: 100%;
    border: 1px solid;
    padding: 12px;
  }
</style>
<div class="form-group">
<select
  class="form-control w-50"
  name=""
  id="province"
  onchange="getProvince()">
  <option value="">Select Province Address</option>
</select>

<select
  class="form-control w-50"
  name=""
  id="city"
  onchange="getCity()">
  <option value="">Select Town / City</option>
</select>

<select
  class="form-control w-50"
  name=""
  id="barangay"
  onchange="getBarangay()">
  <option value="">Select Barangay</option>
</select>

<input
  type="text"
  class="form-control w-50"
  id="zip"
  readonly />
 </div>
<div class="nearBy"></div>
<script>
  var arr = JSON.parse(localStorage.getItem("arrProvince"));

  if (arr != null) {
    province = [];
    var data = JSON.parse(localStorage.arrProvince);
    for (let i = 0; i < data.province.length; i++) {
      const arrP = `${
        data.province[i]
      }`;
      province.push(arrP);
    }
    $("#province").html(province.join(""));
  } else {
    url = "https://tools.gabcgfs.com/address_finder.php";
    province = [];
    province.push('<option value="" Selected>Select Province Address</option>');
    jQuery.ajax({url: url, type: "GET", dataType: "jsonp", contentType: "application/json; charset=UTF-8"}).done(function(json) {
      for (let i = 0; i < json.length; i++) {
        const arrP = `<option value="${
          json[i].PROVINCE
        }">${
          json[i].PROVINCE
        }</option>`;
        province.push(arrP);
      }

      $("#province").html(province.join(""));
      localStorage.setItem("arrProvince", JSON.stringify({province}));
    });
  }
</script>