<style>
  .form-control{
        width: 100%;
    border: 1px solid;
    padding: 12px;
  }
</style>
<div class="form-group">
<select
  class="form-control w-50"
  name=""
  id="province"
  onchange="getProvince()">
  <option value="">Select Province Address</option>
</select>

<select
  class="form-control w-50"
  name=""
  id="city"
  onchange="getCity()">
  <option value="">Select Town / City</option>
</select>

<select
  class="form-control w-50"
  name=""
  id="barangay"
  onchange="getBarangay()">
  <option value="">Select Barangay</option>
</select>

<input
  type="text"
  class="form-control w-50"
  id="zip"
  readonly />
 </div>
<div class="nearBy"></div>
<script>
  console.log(arr)
</script>