<style>
.loader{
        display: inline-block;
        text-align: center;
        line-height: 86px;
        text-align: center;
        position: relative;
        padding: 0 48px;
        font-size: 48px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        }
        .loader:before, .loader:after {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          background: currentColor;
          position: absolute;
          animation: load .7s infinite alternate ease-in-out;
          top: 0;
        }
        .loader:after {
          top: auto;
          bottom: 0;
        }
      @keyframes load {
        0% {
          left: 0;
          height: 43px;
          width: 15px;
          transform: translateX(0)
        }
        50% {
          height: 10px;
          width: 40px
        }
        100% {
          left: 100%;
          height: 43px;
          width: 15px;
          transform: translateX(-100%)
        }
      }
  
  .form-control{
        width: 100%;
    border: 1px solid;
    padding: 12px;
    margin:2px 0;
  }
</style>
<div class="form-group">
<select
  class="form-control w-50"
  name=""
  id="province"
  onchange="getProvince()">
  <option value="">Select Province Address</option>
</select>

<select
  class="form-control w-50"
  name=""
  id="city"
  onchange="getCity()">
  <option value="">Select Town / City</option>
</select>

<select
  class="form-control w-50"
  name=""
  id="barangay"
  onchange="getBarangay()">
  <option value="">Select Barangay</option>
</select>

<input
  type="text" style=" width: 95.5%;
    border: 1px solid;
    padding: 12px;
  margin:2px 0;
  background-color: mintcream;"
  id="zip" placeholder="Zip"
  readonly />
 </div>
 
<div class="nearBy"></div>
<script>

</script>