<style>
  .modal-body{
    padding:50px 250px;
  }
  .select-address{
    width:100%;
  }
</style>
<!-- The Modal -->
<div id="myModal" class="modal" style="z-index:100;">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
  <div class="modal-body">
      <select class="select-address">
        <option>select Province</option>
      </select>
        <select class="select-address">
        <option>select City</option>
      </select>
        <select class="select-address">
        <option>select Barangay</option>
      </select>
        <select class="select-address">
        <option>select data</option>
      </select>
    <input type="text" class="select-address">
  </div>
    
  </div>

</div>