<style>
  @media only screen and (min-width: 200px) {
    .modal-body{
      padding:50px 0;
    }
    .select-address{
      width:100%;
      margin:2px;
      padding:12px;
    } 
}

@media only screen and (min-width: 992px) {
    .modal-body{
      padding:50px 250px;
    }
    .select-address{
      width:100%;
      margin:2px;
      padding:12px;
    }
}
 

</style>
<!-- The Modal -->
<div id="myModal" class="modal" style="z-index:100;">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
  <div class="modal-body">
    <h2>Address Finder</h2>
    <div><span>For quicker shipping address entry, find your area from the drop down fields.</span></div>
      <select class="select-address">
        <option>select Province</option>
      </select>
        <select class="select-address">
        <option>select City</option>
      </select>
        <select class="select-address">
        <option>select Barangay</option>
      </select>
        <select class="select-address">
        <option>select data</option>
      </select>
    <input type="text" class="select-address">
  </div>
    
  </div>

</div>